/*DESKTOP*/
@media screen and (min-width: 960px)
{
	/*De content op de juiste plek zetten.*/
	#center 
	{
		margin: auto;
		width: 48%;
		font-family: Arial, "Times New Roman", Serif;
	}
	/*Een afbeelding als achtergrond instellen.*/
	body
	{
		background-image: url(img/background.jpeg);
		overflow:auto;
		height:100%;
		margin:0px;
		background-repeat:no-repeat;
		z-index: -1.5;
		background-size: fit;
		background-attachment: fixed;	
	}
	h1.company
	{
		color: #ffffff;
		position: relative;
		font-size: 350%;
		text-align: center;
		text-shadow:
			-2px -2px 0 #000,
			2px -2px 0 #000,
			-2px 2px 0 #000,
			2px 2px 0 #000;
		padding: 50px 45px 50px 45px;
		display: block;
		height: 45px;
		letter-spacing: 2.5px;
		margin: 0;
		font-family: berlinsansfb;
		white-space: nowrap;
		overflow:hidden;		
		
	}
	/*Logo van Company toevoegen aan de pagina.*/
	.logoCompany
	{
		
		background-image: url(img/companylogoBG.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		white-space: nowrap;
	}
	/*Het menu van de index pagina aanpassen.*/
	#menu
	{
		/*De achtergrond van het menu een kleur geven.*/
		background-color: #707070;
		/*Het menu zelf aanpassen (inclusief de tekst).*/		
		text-transform: uppercase;
		text-align: center;
		border: 0.025px solid #ffffff;
		margin-top: 0px;
		padding: 5px 0px 5px 0px;
		white-space: nowrap;
	}
	/*De style van het menu aanpassen.*/
	#menu > ul
	{
		margin:0;
		overflow:hidden;
		list-style-type: none;
		padding: 0;
	}
	/*De ruimte tussen de links op het menu weghalen.*/
	#menu li
	{
		margin: 0.1em 0.15em 0.1em 0.15em;
		display: inline-block;
	}
	/* De opmaak van de links aanpassen en zorgen dat ze naast elkaar blijven */
	li a 
	{
		display: blokc;
		color: #ffffff;
		font-size: 1.25em;
		text-decoration: none;
		text-align: center;
	}	
	/*De footer op een juiste manier plaatsen en aanpassen.*/
	footer
	{
		background-color: #000000;
		color: #ffffff;
		height: 20px;
		text-align: center;
		padding: 5px 5px 5px 5px;
	}
	/*De standaardvoorwaarden voor de headers teksten. (We are entertainment, mobile games, board games & console games) */
	.moreinfo
	{
		color:#707070;
		background-color: #F5F5F5;
		font-size: 1.3em;
		text-align: left;
		text-indent: 30px;
		padding: 10px 5px 10px 5px;
		border: 1px solid #444444;
		border-bottom: none;
	}
	.formstructure
	{
		color:#707070;
		background-color: #F5F5F5;
		font-size: 1.3em;
		text-align: left;
		text-indent: 30px;
		border: 1px solid #444444;
		border-top: none;
		
	}
	.style
	{
		color: #AAAAAA;
		background-color: white;
		font-size: 20px;
		padding: 15px 10px 15px 10px;
		border-color: #707070;
		border-width:1px;
		line-height:16px;
		display: block;
		width: 600px;
		height: 20px;
		margin: auto;
		margin-bottom: 20px;
		position: relative;
		z-index: 65;
		float: center;
	}
	.style2
	{
		color: #AAAAAA;
		background-color: white;
		font-size: 15px;
		padding: 0px 0px 0px 0px;
		border-color: none;
		border-width:1px;
		display: relative;
		width: 600px;
		height: 60px;
		margin: none;
		top: -5px;
		padding: none;
		right: 20px;
		
	}
	.select
	{
		width: 400px;
		height: 40px;
		position: relative;
		float: right;
		top: -10px;
		right: -5px;
	}
	.input
	{
		width: 600px;
		height: 45px;
		position: relative;
		float: right;
		top: -15px;
		right: -5px;
		border: none;
	}
	.writesomething
	{
		color: #AAAAAA;
		background-color: transparent;
		font-size: 10px;
		padding: 0px 0px 0px 0px;
		border: 0px solid;
		width: 600px;
		height: 60px;
		margin: none;
		position: relative;
		top: -5px;
		right: 20px;
		padding: 0;
		outline: none;
		border-color: inherit;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		
	}
	.contact
	{
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		font-size: 2em;
		background-color: #2699FB;
		color: #ffffff;
		padding: 1px 0px 1px 0px;
		display: block;
		line-height: 8px;
		margin: 0;
		position: relative;
		z-index: 40;
	}
	#header_blocks.image_all
	{
		padding: 5px 0px 5px 0px;
		background-color: #2699FB; 
		color: #ffffff;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.6em;
		letter-spacing: 2px;
		display: block;
		width: 100%;
		height: auto;
		top: 40px;
	}
	img.image_all
	{
		display: block;
		width: 100%;
		height: auto;
		top: 40px;
	}
	figure
	{
		padding: 0;
		margin: 0;
	}
}
/*MOBILE*/
@media screen and (max-width: 360px)
{
	/*De content op de juiste plek zetten.*/
	#center 
	{
		margin: 0;
		width: fit;
		font-family: Arial, "Times New Roman", Serif;
	}
	/*Een afbeelding als achtergrond instellen.*/
	body
	{
		background-image: url(img/background.jpeg);
		overflow:auto;
		height:auto;
		width: fit;
		margin:0px;
		background-repeat:no-repeat;
		z-index: -1.5;
		background-size: 359px;
		background-attachment: fixed;	
	}
	/*De tekst van Company Name aanpassen.*/
	h1.company
	{
		color: #ffffff;
		position: relative;
		font-size: 200%;
		text-align: center;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
		padding: 50px 45px 50px 45px;
		display: auto;
		height: auto;
		width: fit;
		letter-spacing: 2.5px;
		margin: 0;
		font-family: berlinsansfb;
		white-space: nowrap;
		overflow:hidden;		
		
	}
	/*Logo van Company toevoegen aan de pagina.*/
	.logoCompany
	{
		
		background-image: url(img/companylogoBG.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		white-space: nowrap;
	}
	/*Het menu van de index pagina aanpassen.*/
	#menu
	{
		/*De achtergrond van het menu een kleur geven.*/
		background: red;
		/*Het menu zelf aanpassen (inclusief de tekst).*/		
		width: 40px;
		height: 20px;
		display: block;
		margin-bottom: 5px;
		width: 35px;
		height: 35px;
		background-color: black;
		margin: 6px 0;
	}
	/*De style van het menu aanpassen.*/
	#menu > ul
	{
		margin:0;
		overflow:hidden;
		list-style-type: none;
		padding: 0;
		width: 35px;
		height: 35px;
		background-color: black;
		margin: 6px 0;
	}
	/*De ruimte tussen de links op het menu weghalen.*/
	#menu li
	{
		margin: 0.1em 0.15em 0.1em 0.15em;
		display: inline-block;
	}
	/* De opmaak van de links aanpassen en zorgen dat ze naast elkaar blijven */
	li a 
	{
		display: blokc;
		color: #ffffff;
		font-size: 1.25em;
		text-decoration: none;
		text-align: center;
	}	
	/*De footer op een juiste manier plaatsen en aanpassen.*/
	footer
	{
		background-color: #000000;
		color: #ffffff;
		height: 20px;
		text-align: center;
		padding: 5px 5px 5px 5px;
	}
	/*De standaardvoorwaarden voor de headers teksten. (We are entertainment, mobile games, board games & console games) */
	#header_blocks.headers
	{
		text-transform: uppercase;
		letter-spacing: 2.25px;
		text-align: center;
		font-size: 1.8em;
		background-color: #2695FB;
		color: #ffffff;
		padding: 1px 0px 1px 0px;
		display: block;
		line-height: 16px;
		margin: 0;
		position: relative;
		z-index: 65;
		width: auto;
		position: fit;
	}
	#header_blocks.image_all
	{
		padding: 5px 0px 5px 0px;
		background-color: #2699FB; 
		position: fit;
		color: #ffffff;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.6em;
		letter-spacing: 2px;
		display: block;
		width: 100%;
		height: auto;
		top: 40px;
		width: auto;
	}
	img.image_all
	{
		display: block;
		width: 100%;
		height: auto;
		top: 40px;
		position: fit;
	}
	figure
	{
		padding: 0;
		margin: 0;
	}
}
/*Lettertype Berlin Sans FB toevoegen.*/
@font-face
{
	font-family: berlinsansfb;
	src: url("fonts/Berlin Sans FB Regular.ttf") format("truetype");
}
/*TABLET*/
@media screen and (min-width: 360px)and (max-width: 959px)
{
	/*De content op de juiste plek zetten.*/
	#center 
	{
		margin: auto;
		width: 48%;
		font-family: Arial, "Times New Roman", Serif;
	}
	/*Een afbeelding als achtergrond instellen.*/
	body
	{
		background-image: url(img/background.jpeg);
		overflow:auto;
		height:100%;
		margin:0px;
		background-repeat:no-repeat;
		z-index: -1.5;
		background-size: fit;
		background-attachment: fixed;	
	}
	h1.company
	{
		color: #ffffff;
		position: relative;
		font-size: 225%;
		text-align: center;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
		padding: 50px 45px 50px 45px;
		display: block;
		height: 45px;
		letter-spacing: 2.5px;
		margin: 0;
		font-family: berlinsansfb;
		white-space: nowrap;
		overflow:hidden;		
		
	}
	/*Logo van Company toevoegen aan de pagina.*/
	.logoCompany
	{
		
		background-image: url(img/companylogoBG.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		white-space: nowrap;
	}
	/*Het menu van de index pagina aanpassen.*/
	#menu
	{
		/*De achtergrond van het menu een kleur geven.*/
		background-color: #707070;
		/*Het menu zelf aanpassen (inclusief de tekst).*/		
		text-transform: uppercase;
		text-align: center;
		border: 0.025px solid #ffffff;
		margin-top: 0px;
		padding: 5px 0px 5px 0px;
		white-space: nowrap;
	}
	/*De style van het menu aanpassen.*/
	#menu > ul
	{
		margin:0;
		overflow:hidden;
		list-style-type: none;
		padding: 0;
	}
	/*De ruimte tussen de links op het menu weghalen.*/
	#menu li
	{
		margin: 0.1em 0.15em 0.1em 0.15em;
		display: inline-block;
	}
	/* De opmaak van de links aanpassen en zorgen dat ze naast elkaar blijven */
	li a 
	{
		display: blokc;
		color: #ffffff;
		font-size: 1.25em;
		text-decoration: none;
		text-align: center;
	}	
	/*De footer op een juiste manier plaatsen en aanpassen.*/
	footer
	{
		background-color: #000000;
		color: #ffffff;
		height: 20px;
		text-align: center;
		padding: 5px 5px 5px 5px;
	}
	/*De standaardvoorwaarden voor de headers teksten. (We are entertainment, mobile games, board games & console games) */
	#header_blocks.headers
	{
		text-transform: uppercase;
		letter-spacing: 2.25px;
		text-align: center;
		font-size: 1.8em;
		background-color: #2695FB;
		color: #ffffff;
		padding: 1px 0px 1px 0px;
		display: block;
		line-height: 16px;
		margin: 0;
		position: relative;
		z-index: 65;
	}
	#header_blocks.image_all
	{
		padding: 5px 0px 5px 0px;
		background-color: #2699FB; 
		color: #ffffff;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.6em;
		letter-spacing: 2px;
		display: block;
		width: 100%;
		height: auto;
		top: 40px;
	}
	img.image_all
	{
		display: block;
		width: 100%;
		height: auto;
		top: 40px;
	}
	figure
	{
		padding: 0;
		margin: 0;
	}
}